@media (min-width: 250px) and (max-width: 1100px) {
    .container{
        width: 70%;
    }
}

@media screen and (min-width: 1100px) {
    .container{
        width: 40%;
    }
}
.fas:hover{
    cursor: pointer;
}

@media screen and (max-width : 991px) {
    .navform{
        flex-direction: column;
        width: fit-content;
        
    }
    .navform-btn{
        margin-top: 3px;
    }
}